<!DOCTYPE html>
<html>
  <head>
    <title>TaypApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script
      src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"
      data-auto-a11y="true"
    ></script>
  </head>
  <body>
    <main class="home">
      <%= render  "layouts/nav" %>
      <section class="home-index">
        <%= yield %>
      </section>
      <section class="home-side">
      </section>
    </main>
  </body>
</html>
